@import "/styles/variables.scss";

.container {
  background-color: #ffffff;
  h1 {
    font-family: "KonexyPersonalUse";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;

    /* Primary */

    color: $primary;
  }
  .teamDesc {
    font-family: "Jura";
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #a0a0a0;
    width: 62%;
    margin-left: 300px;
  }

  .deck {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 80px;

    .title {
      font-family: "Jura";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 1px;
      // margin:0px;
    }

    .designation {
      font-family: "Jura";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: $gray;
      // margin:0 0 0 0px;
    }
  }

  .imageWrapper {
    position: relative;
    width: 228px;
    height: 166px;

    .img {
      transition: transform 0.2s ease-in-out;
    }
    &:hover {
      transform: rotate(10deg);
    }
  }
}
